#wrap {}
#wrap .intro {
    background-image: url(../images/bg1.png);
    background-size: cover;/* 피그마 - 채우기 */
    position: relative;
    z-index: 30;
}
#wrap .intro::after {/* 이미지 위 깔리는 반투명 그라데이션용도 가상 선택자 */
    background: var(--color-gradient-dark);
    content:'center';display:block;
    width: 100%; height: 100%;
    position: absolute; left: 0; top: 0; z-index: 40;
}
#wrap .intro .container {
    height: 569px; /* 실제 내용 태그들을 묶는 레이아웃 태그에 크기 입력 권장 */
}
#wrap .intro .container .logo {width: var(--icon-lg);}
#wrap .intro .container .logo img {width: 100%;}
#wrap .intro .container .title {}
#wrap .intro .container .btn_g {}
#wrap .intro .container .btn_g .sponser_btn {}
#wrap .intro .container .btn_g .sponser_qna_btn {}