/* 반응형 미디어쿼리 규칙 */
/* @media screen and (minmax규칙) {실행선택자와값} */
/* index.css 모바일 기본상태 */
/* 모바일로 시작했기 때문에 responsive.css에선 점점 큰 값응ㄹ 설계하는 순서로 진행한다. */
/* 미디어쿼리 규칙 내에서 작성하는 선택자는 해당 규칙 이상일 때 달라지는 디자인 값만 작성한다.*/
/* 기존(이전 규칙)과 동일한 디자인 모습은 작성하지 않으면 자동으로 유지된다. */
@media screen and (min-width:760px) {/* 760 이상일 때(태블릿 모습시작) */
    /* 선택자 {속성:값; 속성:값;} */
    #wrqp {
        min-height: 1080px;
    }
    #wrap .intro {}
    #wrap .intro::after {}
    #wrap .intro .container {
        height: 684px;
    }
    #wrap .intro .container .logo {
        width: var(--icon-xl); left: 61px; top: 43px;
    }
    #wrap .intro .container .logo img {}
    #wrap .intro .container .title {
        font-size:var(--t-font-size-lg);
        margin-bottom: 32px;
    }
    #wrap .intro .container .btn_g {
        gap:0;
        position: static; 
        /* absolute 해제 목적의 변경 값 -> relative (포지션 기능 살리고 싶을 때 z-index, left, top등 옵션 사용 필요) */
        /* absolute 해제 목적의 변경 값 -> stati요 (포지션 기능 해제(위 옵션 불가) */
        bottom: 0;
    }
    /* --------------------------------------------2행 퀴즈(테블릿 시작) */
    #wrap .quiz {
        padding:60px 60px;
    }
    #wrap .quiz .container {
        display: flex; flex-flow: row nowrap;
        gap:8px;
        align-items: center;/* 수직중앙 */
        justify-content: space-between;
    }
    /* --------------------------------------------------------2행 2-1 퀴즈 */
    #wrap .quiz .container #quiz_frm {width: 50%;}
    #wrap .quiz .container #quiz_frm h2 {font-size: var(--t-font-size-lg);}
    #wrap .quiz .container #quiz_frm h3 {font-size: var(--t-font-size-base);}
    #wrap .quiz .container #quiz_frm .quiz_list {}
    #wrap .quiz .container #quiz_frm .quiz_list li {}
    #wrap .quiz .container #quiz_frm .quiz_list li input[name=quiz_g] {}
    /* --------------------------------------------------------input 체크상태에 따른 이미지 변경 */
    #wrap .quiz .container #quiz_frm .quiz_list li input[name=quiz_g]:checked + label { /* 체크 됐을 때 */}
    #wrap .quiz .container #quiz_frm .quiz_list li label { /* 체크 안 했을 때 */
        font-size: var(--t-font-size-base);
    }
    #wrap .quiz .container #quiz_frm p {}
    #wrap .quiz .container #quiz_frm p #quiz_btn {
        font-size: var(--t-font-size-sm);
    }
    /* --------------------------------------------------------2행 2-2 현황 */
    #wrap .quiz .container .quiz_status {width: 50%;}
    #wrap .quiz .container .quiz_status > * {}
    #wrap .quiz .container .quiz_status .situation {}
    #wrap .quiz .container .quiz_status .situation dt {
        font-size: var(--t-font-size-base);
    }
    #wrap .quiz .container .quiz_status .situation dd {
        line-height: 140px;
        font-size: var(--t-font-size-lg);
    }
    #wrap .quiz .container .quiz_status .situation dd em {}
    #wrap .quiz .container .quiz_status .update {}
    /* --------------------------------------------2행 퀴즈(테블릿 종료) */
    /* --------------------------------------------3행 비디오 */
    #wrap .video_bg {}
    #wrap .video_bg .container {
        gap:20px;
        padding: 100px 60px;
    }
    #wrap .video_bg .container h1 {
        font-size: var(--t-font-size-lg);
        font-weight: 600;
    }
    #wrap .video_bg .container .video {}
    #wrap .video_bg .container .video iframe {}
    #wrap .video_bg .container .sponser_btn {
        font-size: var(--t-font-size-base);
        padding: 10px 30px;
    }
    /* --------------------------------------------3행 비디오 종료 */
    /* --------------------------------------------4행 면적 시작 */
    #wrap .area_bg {}
    #wrap .area_bg .container {padding: 120px 60px;}
    #wrap .area_bg .container * {margin-bottom: 30px;}
    #wrap .area_bg .container h1 {font-size: var(--t-font-size-l)}
    #wrap .area_bg .container h1 span {display: inline;}
    #wrap .area_bg .container h1 em {}
    #wrap .area_bg .container .content {font-size: var(--t-font-size-sm);}
    #wrap .area_bg .container p {}
    #wrap .area_bg .container p img {}
    /* --------------------------------------------4행 면적 종료 */
}/* e:min760 */
/* ------------------------------------------------태블릿->데스크탑 */
@media screen and (min-width:1120px) {/* 1120 이상일 때  */
    #wrqp {}
    #wrap .intro {}
    #wrap .intro::after {}
    #wrap .intro .container {
        height: 872px;
        max-width:1120px;
        margin: var(--spacing-auto);
    }
    #wrap .intro .container .logo {
        width: var(--icon-xl); left: 0px; top: 43px;
    }
    #wrap .intro .container .logo img {}
    #wrap .intro .container .title {
        font-size:var(--d-font-size-lg);
        margin-bottom: 32px;
    }
    #wrap .intro .container .btn_g .sponser_btn::after {width: 12px; height: 24px;}
    #wrap .intro .container .btn_g .sponser_qna_btn {
    padding: 10px 25px;
    position: absolute; bottom: 42px; right: 0px;
    }
/* --------------------------------------------2행 데스크탑 시작 */
    #wrap .quiz {}
    #wrap .quiz .container {
        gap:150px;
        width: 1120px;
        margin: var(--spacing-auto);
    }
    /* --------------------------------------------------------2행 2-1 퀴즈 */
    #wrap .quiz .container #quiz_frm {}
    #wrap .quiz .container #quiz_frm h2 {font-size: var(--d-font-size-lg);}
    #wrap .quiz .container #quiz_frm h3 {font-size: var(--d-font-size-base);}
    #wrap .quiz .container #quiz_frm .quiz_list {}
    #wrap .quiz .container #quiz_frm .quiz_list li {}
    #wrap .quiz .container #quiz_frm .quiz_list li input[name=quiz_g] {}
    /* --------------------------------------------------------input 체크상태에 따른 이미지 변경 */
    #wrap .quiz .container #quiz_frm .quiz_list li input[name=quiz_g]:checked + label { /* 체크 됐을 때 */}
    #wrap .quiz .container #quiz_frm .quiz_list li label { /* 체크 안 했을 때 */
        font-size: var(--d-font-size-base);
    }
    #wrap .quiz .container #quiz_frm p {}
    #wrap .quiz .container #quiz_frm p #quiz_btn {
        font-size: var(--d-font-size-sm);
    }
    /* --------------------------------------------------------2행 2-2 현황 */
    #wrap .quiz .container .quiz_status {}
    #wrap .quiz .container .quiz_status > * {}
    #wrap .quiz .container .quiz_status .situation {}
    #wrap .quiz .container .quiz_status .situation dt {
        font-size: var(--d-font-size-base);
    }
    #wrap .quiz .container .quiz_status .situation dd {
        line-height: 140px;
        font-size: var(--d-font-size-lg);
    }
    #wrap .quiz .container .quiz_status .situation dd em {}
    #wrap .quiz .container .quiz_status .update {}
/* --------------------------------------------2행 데스크탑 종료 */
/* --------------------------------------------3행 비디오 시작 */
#wrap .video_bg {}
    #wrap .video_bg .container {
        gap:30px;
        padding: 120px 0;
    }
    #wrap .video_bg .container h1 {
        font-size: var(--d-font-size-lg);
    }
    #wrap .video_bg .container .video {}
    #wrap .video_bg .container .video iframe {}
    #wrap .video_bg .container .sponser_btn {
        font-size: var(--t-font-size-base);
        padding: 15px 55px;
    }
    /* --------------------------------------------3행 비디오 종료 */
    /* --------------------------------------------4행 면적 시작 */
    #wrap .area_bg {}
    #wrap .area_bg .container {}
    #wrap .area_bg .container * {margin-bottom: 60px;}
    #wrap .area_bg .container h1 {font-size: var(--d-font-size-l)}
    #wrap .area_bg .container h1 em {}
    #wrap .area_bg .container .content {font-size: var(--d-font-size-sm);}
    #wrap .area_bg .container p {}
    #wrap .area_bg .container p img {}
    /* --------------------------------------------4행 면적 종료 */
}