/* 반응형 미디어쿼리 규칙 */
/* @media screen and (minmax규칙) {실행선택자와값} */
/* index.css 모바일 기본상태 */
/* 모바일로 시작했기 때문에 responsive.css에선 점점 큰 값응ㄹ 설계하는 순서로 진행한다. */
/* 미디어쿼리 규칙 내에서 작성하는 선택자는 해당 규칙 이상일 때 달라지는 디자인 값만 작성한다.*/
/* 기존(이전 규칙)과 동일한 디자인 모습은 작성하지 않으면 자동으로 유지된다. */
@media screen and (min-width:760px) {/* 760 이상일 때(태블릿 모습시작) */
    /* 선택자 {속성:값; 속성:값;} */
    #wrqp {
        min-height: 1080px;
    }
    #wrap .intro {}
    #wrap .intro::after {}
    #wrap .intro .container {
        height: 684px;
    }
    #wrap .intro .container .logo {
        width: var(--icon-xl); left: 61px; top: 43px;
    }
    #wrap .intro .container .logo img {}
    #wrap .intro .container .title {
        font-size:var(--t-font-size-lg);
        margin-bottom: 32px;
    }
    #wrap .intro .container .btn_g {
        gap:0;
        position: static; 
        /* absolute 해제 목적의 변경 값 -> relative (포지션 기능 살리고 싶을 때 z-index, left, top등 옵션 사용 필요) */
        /* absolute 해제 목적의 변경 값 -> stati요 (포지션 기능 해제(위 옵션 불가) */
        bottom: 0;
    }
    #wrap .intro .container .btn_g * {
        font-size: var(--t-font-size-base);
        padding:0;
    }
    #wrap .intro .container .btn_g *::after {
        width: 10px; height: 20px;
    }
    #wrap .intro .container .btn_g .sponser_btn {
        padding: 10px 30px;
    }
#wrap .intro .container .btn_g .sponser_qna_btn {
    padding: 5px 15px;
    position: absolute; bottom: 60px; right: 67px;
}
}/* e:min760 */
/* ------------------------------------------------태블릿->데스크탑 */
@media screen and (min-width:1120px) {/* 1120 이상일 때  */
    #wrqp {}
    #wrap .intro {}
    #wrap .intro::after {}
    #wrap .intro .container {
        height: 872px;
        max-width:1120px;
        margin: var(--spacing-auto);
    }
    #wrap .intro .container .logo {
        width: var(--icon-xl); left: 0px; top: 43px;
    }
    #wrap .intro .container .logo img {}
    #wrap .intro .container .title {
        font-size:var(--d-font-size-lg);
        margin-bottom: 32px;
    }
    #wrap .intro .container .btn_g {}
    #wrap .intro .container .btn_g * {
        font-size: var(--d-font-size-base);
    }
    #wrap .intro .container .btn_g *::after {}
    #wrap .intro .container .btn_g .sponser_btn {
        padding: 15px 55px;
    }
    #wrap .intro .container .btn_g .sponser_btn::after {width: 12px; height: 24px;}
#wrap .intro .container .btn_g .sponser_qna_btn {
    padding: 10px 25px;
    position: absolute; bottom: 42px; right: 0px;
}
}