/* var.css */
/* 글자옵션, 레이아웃크기 등 값 위주의 변수 */
:root {
    --color-primary:#566BF8;
    --color-dark:#111;
    --color-light:#fff;
    --color-gray:#ddd;
    --color-gradient-dark:linear-gradient(180deg,rgba(0,0,0,0), rgba(0,0,0,1));

    /* 글자크기 */
    --m-font-size-base:1em;/* 내용 */
    --m-font-size-sm:0.875em;/* 버튼 */
    --m-font-size-lg:1.875em;/* 제목 */
    --m-font-size-l:1.25em;/* 보조 제목 */
    --t-font-size-base:1em;/* 내용 */
    --t-font-size-sm:1.25em;/* 버튼 */
    --t-font-size-lg:2.75em;/* 제목 */
    --d-font-size-base:1.25em;/* 내용 */
    --d-font-size-sm:1.375em;/* 버튼 */
    --d-font-size-lg:3.438em;/* 제목 */

    /* 크기, 여백 */
    --border-radius:50px;
    /* 모바일 */
    --spacing-m-l-r:15px;
    /* 테블릿 */
    --spacing-t-l-r:60px;
    /* 데스트탑 */
    --width-desktop:1120px;
    /* 공통 */
    --spacing-auto:0 auto;
    --icon-xs:8px;
    --icon-sm:10px;
    --icon-md:12px;
    --icon-lg:24px;
    --icon-xl:48px;

}/* e:root */

/* 공통 디자인 Class */
.flex-row-center {
    display:flex; flex-flow:row nowrap;
    justify-content: center; align-items: center;
}
.flex-row-between {
    display:flex; flex-flow:row nowrap;
    justify-content: space-between; align-items: center;
}
.flex-col-center {
    display:flex; flex-flow:column nowrap;
    justify-content: center; align-items: center;
}
.flex-col-between {
    display:flex; flex-flow:column nowrap;
    justify-content: space-between; align-items: center;
}